  
  body, html {
    margin: 0px;
    padding: 0px;
  }


  .product-image {
    width: 100%; 
    height: 100%;
    height: auto; 
  }
  
  .card-body {
    height: 100%; 
    display: flex;
    flex-direction: column;
  }

  .cardWrapper {
    height: 90%;
    border: 2px dashed rgb(221, 221, 221);
  }

  .carousel-image {
    height: 500px;
    width: auto;
    margin: 0 0;
  }

  .carousel {
    height: 500px;
  }

  .image-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; 
  }

  .carousel {
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 1px 1px 2px 2px rgba(17, 26, 71, 0.244);
    /* border: 1.5px solid rgb(35, 49, 139); */
  }
  

  .hello-text {
    margin-left: 40px; /* Adjust margin */
    color: rgba(255, 255, 255, 0.812);
    font-size: 17.5px;
    margin-top: 30px;
    padding-right: 50px;
  }
  
  .carousel-header {
    /* font-weight: bold; */
    font-size: 35px;
    margin-bottom: 10px; 
    color: white;
    text-decoration: none;
  } 

  .rating-size {
    font-size: 19px;
  }
  
  
  /* Gets rid of the reviews if screensize is too small */
  @media (max-width: 1200px) {
    .hello-text {
      display: none;
    }
    .image-container {
      justify-content: center;
    }
  }
  
