  
  body, html {
    margin: 0px;
    padding: 0px;
  }


  .product-image {
    width: 100%; 
    height: 100%;
    height: auto; 
  }
  
  .card-body {
    height: 100%; 
    display: flex;
    flex-direction: column;
  }

  .cardWrapper {
    height: 90%;
    border: 1px dashed rgb(221, 221, 221);
    transition: all 0.3s ease;
  }

  .cardWrapper:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(17, 26, 71, 0.3);
  }

  .carousel-image {
    height: 500px;
    width: auto;
    margin: 0 0;
  }

  .image-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; 
  }

  .carousel {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(17, 26, 71, 0.3);
  }
  

  .hello-text {
    margin-left: 40px; /* Adjust margin */
    color: rgba(255, 255, 255, 0.812);
    font-size: 17.5px;
    margin-top: 30px;
    padding-right: 50px;
  }
  
  .carousel-header {
    /* font-weight: bold; */
    font-size: 35px;
    margin-bottom: 10px; 
    color: white;
    text-decoration: none;
  } 

  .rating-size {
    font-size: 19px;
  }

  .carousel-caption {
    background-color: rgb(6, 11, 23);
    opacity: 80%;
  }
  
  
  /* Gets rid of the reviews if screensize is too small */
  @media (max-width: 1200px) {
    .hello-text {
      display: none;
    }
    .image-container {
      justify-content: center;
    }
  }
  
  .productPage-image {
    box-shadow: 0 0 5px rgb(222, 222, 222);
  }
  
 