
  .custom-navbar {
    background-color: #333; 
    padding: 5px 0px;
  }
  
  .custom-brand {
    color: #ecf0f1; 
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .custom-link {
    color: #ecf0f1 !important; 
    font-size: 16px; 
    margin-right: 15px; 
  }
  
  .custom-link:hover {
    color: #3498db !important; 
  }
  
  #username {
    color: #ecf0f1 !important;
  }

  #username:hover {
    color: #3498db !important; 
  }

  /* Additional style for signed-in state */
  .custom-link.signed-in {
    color: #ecf0f1 !important; /* Set color for signed-in state */
  }
  
  .custom-icon {
    font-size: 18px; 
    margin-right: 5px; 
  }
  
  .main-logo {
    height: 40px;
    margin-right: 0px;
  }